/** Base font */

@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 500;
    font-display: swap;
    src: url($baseurl + "/assets/fonts/cormorantgaramond-medium.ttf");
}

@font-face {
    font-family: "Cormorant Garamond";
    font-weight: 700;
    font-display: swap;
    src: url($baseurl + "/assets/fonts/cormorantgaramond-bold.ttf");
}

@font-face {
    font-family: "Cormorant Garamond";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url($baseurl + "/assets/fonts/cormorantgaramond-mediumitalic.ttf");
}

@font-face {
    font-family: "Cormorant Garamond";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url($baseurl + "/assets/fonts/cormorantgaramond-bolditalic.ttf");
}

/** Title font */

@font-face {
    font-family: "Bree Serif";
    font-display: swap;
    src: url($baseurl + "/assets/fonts/breeserif.ttf");
}

/** Logo font */

@font-face {
    font-family: "dungeonfont";
    font-display: swap;
    src: url($baseurl + "/assets/fonts/dungeonfont.ttf");
}

/** Banner font */

@font-face {
    font-family: "optigibby";
    font-display: swap;
    src: url($baseurl + "/assets/fonts/optigibby.otf");
}
