<!DOCTYPE html>
<html lang="{{ site.active_lang }}" vocab="http://schema.org/">
  {% include head.html %}
  <body typeof="WebPage">

    {% include header.html %}
    {% include banner.html %}

    <main id="main">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
