---
layout: default
---
<section property="mainEntity" typeof="WebPageElement">
  <header>
    <h1 property="name headline">{{ page.title | escape }}</h1>
  </header>

  {{ content }}

  <ul typeof="ItemList" class="events">
    {%- assign events = site.events|reverse -%}
    {%- for event in events offset:1 %}
      <li property="itemListElement" typeof="SocialEvent">
        <meta property="inLanguage" content="{{ site.active_lang }}" />
        <meta property="organizer" content="{{ event.author | default:site.data.general.default_author | escape }}" />
        <a property="url mainEntityOfPage" href="{{ site.baseurl }}{{ event.url }}">
          {%- if event.image %}
            <img src="{{ site.baseurl }}/assets/images/{{ event.image | escape }}" alt="{{ event.title | escape }}" />
          {%- elsif site.data.general.banner.default_image %}
            <img src="{{ site.baseurl }}/assets/images/{{ site.data.general.banner.default_image | escape }}" alt="{{ site.title | escape }}" />
          {%- endif %}
          <p>
            <time property="startDate" datetime="{{ event.date | date_to_xmlschema }}">{{ event.date | date: "%d-%m-%Y" }}</time>
            <span property="name">{{ event.title | escape }}</span>
          </p>
        </a>
      </li>
    {%- endfor %}
  </ul>
</section>
